  <div class="form-group">
    <label class="control-label">HTTPS/ OAuth Options</label>
      <textarea ng-model="check.httpsOAuth_options" name="check[httpsOAuth_options]" class="form-control"  placeholder="Use YAML format, e.g method: HEAD"/></textarea>
      <span class="help-inline">See the
        <a target="_blank" href="http://nodejs.org/api/http.html#http_http_request_options_callback" ng-if="check.type.indexOf('https') === -1"> Node.js HTTP
        <a target="_blank" href="http://nodejs.org/api/https.html#https_https_request_options_callback" ng-if="check.type.indexOf('https') >= -1">Node.js HTTPS
        documentation</a> for a list of available options</span>
  </div>


