<div id="home" class="section" style="display: none;">
    <h1>Welcome to WebSpy</h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">

        </div>
        <div class="col-xs-12 col-md-4">
            <h3>Download now from gitlab!</h3>

        </div>
    </div>

</div>
<div id="features" class="section" style="display: none;">
    <h1>Features</h1>
    <ul>
        <li>Monitor thousands of websites (powered by <a href="http://redotheweb.com/2012/01/23/nodejs-for-php-programmers-1-event-driven-programming-and-pasta.html">Node.js asynchronous programming</a>)</li>
        <li>Tweak frequency of monitoring on a per-check basis, up to the second</li>
        <li>Check the presence of a pattern in the response body</li>
        <li>Receive notifications whenever a check goes down

            <ul>
                <li>On screen (powered by <a href="http://socket.io/">socket.io</a>)</li>
                <li>By email</li>
                <li>On the console</li>
                <li>Pushbullet</li>
                <li>Statushub</li>
                <li>xmnotify</li>
            </ul></li>
        <li>Record availability statistics for further reporting (powered by <a href="http://www.mongodb.org/">MongoDB</a>)</li>
        <li>Detailed uptime reports with animated charts (powered by <a href="http://www.humblesoftware.com/flotr2/">Flotr2</a>)</li>
        <li>Monitor availability, responsiveness, average response time, and total uptime/downtime</li>
        <li>Get details about failed checks (HTTP error code, etc.)</li>
        <li>Group checks by tags and get reports by tag</li>
        <li>Familiar web interface (powered by <a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap 2.0</a>)</li>
        <li>Complete API for integration with third-party monitoring services</li>
        <li>Powerful plugin system to ease extension and customization</li>
        <li>Easy installation and zero administration</li>
    </ul>
</div>
<div id="about" class="section" style="display: none;">
    <h1>About</h1>
</div>